.header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: var(--grey-middle-color);
}

.header-list__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}

.header__colortext-web {
  color: var(--blue-light-color);
}
.header__navigation,
.header-list,
.header-container {
  display: flex;
  align-items: center;
}

.header__tel-mail {
  margin-left: auto;
}

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-list__mail,
.header-list__tel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue-light-color);
  }
}

.header-list__link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-light-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue-light-color);
  }
  &.current {
    color: var(--blue-light-color);
  }
  &.current::after {
    transform: scale(1);
    background: var(--blue-light-color);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: 0;
    border-radius: 2px;
    transform: scale(0);

    transition-property: background, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    transform: scale(1);
    background: var(--blue-light-color);
  }
}
