:root {
  --white-color: #ffffff;
  --white-light-color: #f5f4fa;
  --white-middle-color: 1px solid #eeeeee;

  --black-color: #000000;
  --black-light-color: #212121;
  --black-shadow-color: rgba(0, 0, 0, 0.15);
  --black-blue-color: #2f303a;

  --grey-color: #757575;
  --grey-light-color: rgba(255, 255, 255, 0.6);
  --grey-muddy-color: rgba(175, 177, 184, 1);
  --grey-black-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --grey-middle-color: 1px solid #ececec;
  --grey-html-color: #e5e5e5;

  --blue-light-color: #2196f3;
}
